.button {
    background-color: black;
    color: white;

    padding: 0.5rem 1rem;
    border: none;
    border-radius: 10px;
    margin: 0.5rem;

    width: auto;
    font-size: 1rem;
    /* font-weight: bold; */
    cursor: pointer;
}

.button--link {
    background-color: black;
    color: white;
    border: none;

    padding: 8px 16px;
    border: none;
    margin: 1rem;
    border-radius: 20px;

    width: auto;
    font-size: 1rem;
    font-weight: bold;
    /* text-decoration: underline; */
    cursor: pointer;
}