/* Header.css */

.header {
    display: flex;
    position: fixed;
    justify-content: space-between;
    background-color: #ffffff;
    align-items: center;
    padding: 1rem 2rem;
    border: 0;
    margin: 0;
    width: 100%;
    z-index: 1000;
}

.header-title {
    color: black;
    font-size: 3rem;
}

.header-nav-menu {
    display: flex;
    position: relative;
    gap: 1rem;
    list-style-type: none;
}

.header-nav-menu.show {
    display: flex;
    flex-direction: column;
    position: relative;
    background-color:white;
    padding: 1rem;
    width: 200px;
    height: auto;
}

.header-nav-list {
    display: none;
    flex-direction: row;
    list-style-type: none;
    color: black;
    justify-content: space-around;
    font-size: 1.5rem;
    padding: 1rem;
    margin: 0;
    position: relative;
}

.header-nav-list.show {
    display: flex;
    flex-direction: column;
}

.header-nav-list:hover {
    text-decoration: underline;
}

.hamburger-menu-button {
    /* display: flex;
    flex-direction: column; */
    justify-content: space-between;
    /* background-color: transparent; */
    width: auto;
    padding: 8px;
    border: none;
    margin: 4px;
    height: 30px;
    width: 30px;
    font-size: 16px;
    cursor: pointer;
}

.bar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #333333;
    width: 30px;
    height: 3px;
    margin: 6px 0;
    border: none;
}


.header-button {
    display: flex;
    flex-shrink: 0;
    align-items: center;
}

.header-nav-login {
    background-color: black;
    color: white;
    height: 40px;
    width: 90px;
    border-radius: 20px;
    padding: 0 20px;
    font-size: 1rem;
    cursor: pointer;
}

.header-nav-cart {
    padding: 10px;
    height: 60px;
    width: 60px;
    cursor: pointer;
    position: relative;
}

.header-nav-cart-count {
    /* background-color: red; */
    color: red;
    font-size: 0.8rem;
    font-weight: bold;
    border-radius: 50%;
    padding: 5px;
    margin-left: -8px;
    position: absolute;
    top: 20px;
    right: 30px;
}

/* .global-nav {
    position: relative;
}

.global-nav-list {
    display: none;
    flex-direction: row;

    justify-content: space-around;

    padding: 0;
    margin: 0;
}

.global-nav-list--open {
    display: flex;
}

.global-nav-link {
    display: inline-block;
    color: white;

    padding: 8px;
    text-decoration: none;
}

.global-nav-link:hover {
    color: white;
    text-decoration: underline;
}

#global-nav-button {
    background-color: black;
    color: white;

    width: auto;

    padding: 8px;
    border: none;
    margin: 4px;

    font-size: 16px;
    cursor: pointer;
}

.global-nav-item {
    position: relative;
}

.global-nav-button {
    background-color: black;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding: 0;
    border: none;

    height: 30px;
    width: 30px;

    cursor: pointer;
}

.global-nav-button span {
    display: block;
    background-color: white;

    width: 25px;
    height: 2px;
    margin: 3px;
} */

@media(min-width:44rem) {
    .header-nav-menu {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .header-nav-list {
        display: flex;
    }

    .hamburger-menu-button {
        display: none;
    }

    /* .global-nav-list {
        display: flex;
    }

    .global-nav-button {
        display: none;
    } */
}