.sidebar {
    background-color: black;
    padding-top: 2rem;
    width: 100%;
    max-width: 250px;
    height: 100vh;
  }
  
  .sidebar-link{
    display: flex;
    flex-direction: column;
  }

  .sidebar-item {
    display: flex;
    display: row;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    margin: 1rem;
    gap: 1rem;
    border-radius: 1.5rem;
    background-color: #f0f0f0;
    cursor: pointer;
  }
  