[Unit]
Description=Webapp
ConditionPathExists=/opt/webapp/.env
After=cloud-final.service

[Service]
Type=simple
User=light999
Group=light999
WorkingDirectory=/opt/webapp
ExecStart=/usr/bin/node /opt/webapp/server.js
Restart=always
RestartSec=10
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=light999

[Install]
WantedBy=cloud-init.target